* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #020617;
  padding: 30px;
  border-right: 2px solid #38bdf8;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.sidebar ul li {
  list-style: none;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  color: #38bdf8;
  transform: translateX(8px);
}

/* CONTENT */
.content {
  flex: 1;
  padding: 60px;
  overflow-y: auto;
}

/* SECTIONS */
.section {
  display: none;
  animation: fade 0.6s ease;
}

.section.active {
  display: block;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* CARDS */
.card {
  background: #020617;
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #38bdf8;
}

.clickable:hover {
  background: #0f172a;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.tile {
  background: #020617;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.tile:hover {
  transform: scale(1.05);
  border: 1px solid #38bdf8;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}
